@import "_colors"

.about-section
    padding: 0 70px
    max-width: 90%
    min-height: 100vh
    display: flex
    align-items: center
    justify-content: space-between
    background-color: $white
    margin: 0 auto

    &__image-container
        width: 45%
        display: flex
        align-items: center
        justify-content: center
        margin-right: 130px

    &__circle
        width: 480px
        height: 480px
        background: $blue
        filter: blur(90px)
        border-radius: 50%
        position: absolute

    &__image
        position: relative

    &__content
        max-width: 680px

        p
            margin: 0 0 30px
            font-size: 20px
            font-family: $robotomono-font
            font-weight: 400
            text-align: left
            color: $black
    
@media (min-width: 1200px) and (max-width: 1400px)
    .about-section
        padding: 0 60px

        &__image-container

            .circle
                width: 420px
                height: 420px

        &__image

            img
                width: 480px
                height: 480px

        &__content

            p
                font-size: 20px

@media screen and (max-width: 1200px)
    .about-section
        &__image-container
            display: none

        &__content
            margin: 0
            max-width: 100%
            height: 90vh
            display: flex
            flex-direction: column
            justify-content: space-around

            p
                margin: 0 0 10px

@media screen and (min-width: 768px) and (max-width: 1200px)
    .about-section
        padding: 32px 24px 0

        &__content
            
            p
                font-size: 20px

@media (max-width: 767px)
    .about-section
        padding: 24px
        height: fit-content
        min-height: fit-content

        &__content

            p
                font-size: 18px
