@import "_colors"

.footer
    padding: 70px
    background-color: $blue
    margin: 0 auto

    &__wrapper
        max-width: 100%
        display: flex
        flex-direction: row
        align-items: center
        justify-content: center
        position: relative
        margin: 0 auto

    &__social-media, &__resume, &__menu
        display: flex
        align-items: center

        a
            font-size: 16px
            font-family: $robotomono-font
            font-weight: 400
            text-decoration: none
            color: $white

    &__social-media
        left: 0
        position: absolute

        a
            margin: 0 34px 0 0

    &__resume

        img
            width: 20px
            height: 20px
            margin-left: 10px

    &__menu
        right: 0
        position: absolute

        ul
            display: flex
            align-items: center
            list-style-type: none

            li
                margin: 0 0 0 34px

                a
                    font-size: 16px
                    font-family: $robotomono-font
                    font-weight: 400
                    text-decoration: none
                    color: $white

                a:last-child 
                    margin-right: 0
                
@media screen and (max-width: 1200px)
    .footer
        padding: 40px 24px
        height: auto
        flex-direction: column

        &__wrapper
            flex-direction: column

        &__social-media
            flex-direction: column
            position: inherit

            a
                margin: 0 0 18px
                font-size: 18px
                line-height: 18px
                
        &__resume

            a
                font-size: 18px
                line-height: 18px

            img
                width: 20px
                height: 20px
                margin-left: 5px

        &__menu
            display: none

@media (max-width: 767px) 
    .footer
        padding: 30px 24px
        &__social-media

            a
                margin: 0 0 14px
                font-size: 14px
                line-height: 14px

        &__resume

            a
                font-size: 14px
                line-height: 14px