@import "_colors"
    
.skills
    width: 100%
    max-width: 1440px
    height: 900px
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    background-color: $white
    position: relative
    margin: 0 auto
    &__top, 
    &__middle, 
    &__down
        display: flex
        align-items: center
        justify-content: center
        div
            display: flex
            align-items: center
            justify-content: center
            text-align: center
            font-family: $inconsolata-font
            font-weight: 500
            font-size: 20px  
            color: $white
            border-radius: 50%
            transition: transform .3s
            background-color: $light-blue 
            position: absolute
            &:hover
                transform: scale(1.1)
    &__top div:nth-child(1)
        width: 36px
        height: 36px
        top: 230px
        left: 400px
        background-color: $white
        box-shadow: 0 0 10px 2px $white
    &__top div:nth-child(2)
        width: 50px
        height: 50px
        top: 180px
        left: 260px
        background-color: $white
        box-shadow: 0 0 10px 2px $white
    &__top div:nth-child(3)
        width: 120px
        height: 120px
        font-size: 16px
        margin-right: 360px
        margin-bottom: 50px
        box-shadow: 0 0 55px 2px $light-blue
    &__top div:nth-child(4)
        width: 62px
        height: 62px
        font-size: 16px
        margin-bottom: 350px
        margin-right: 90px
        box-shadow: 0 0 28px 2px $light-blue
    &__top div:nth-child(5)
        width: 110px
        height: 110px
        font-size: 18px
        margin-bottom: 180px
        margin-left: 200px
        box-shadow: 0 0 35px 2px $light-blue
    &__top div:nth-child(6),
    &__top div:nth-child(7)
        width: 104px
        height: 104px
        font-size: 16px
        box-shadow: 0 0 35px 2px $light-blue
    &__top div:nth-child(6)
        margin-left: 410px
        margin-top: 100px
    &__top div:nth-child(7)
        margin-bottom: 260px
        margin-left: 600px
    &__top div:nth-child(8)
        width: 120px
        height: 120px
        margin-left: 970px
        margin-bottom: 500px
        box-shadow: 0 0 24px 2px $light-blue
        a 
            text-decoration: none
            font-size: 14px
            color: $white
    &__middle div:nth-child(1)
        width: 70px
        height: 70px
        font-size: 14px
        margin-right: 700px
        margin-bottom: 50px
        box-shadow: 0 0 18px 2px $light-blue
    &__middle div:nth-child(2)
        width: 84px
        height: 84px
        margin-top: 200px
        margin-right: 520px
        box-shadow: 0 0 18px 2px $light-blue
    &__middle div:nth-child(3)
        width: 50px
        height: 50px
        margin-top: 200px
        margin-right: 230px
        box-shadow: 0 0 15px 2px $light-blue
    &__middle div:nth-child(4)
        width: 170px
        height: 170px
        box-shadow: 0 0 80px 2px $light-blue
        position: relative
    &__middle div:nth-child(5)
        width: 116px
        height: 116px 
        font-size: 18px
        margin-top: 460px
        margin-right: 16px
        box-shadow: 0 0 50px 2px $light-blue
    &__middle div:nth-child(6)
        width: 96px
        height: 96px 
        font-size: 16px
        margin-top: 320px
        margin-left: 300px
        box-shadow: 0 0 25px 2px $light-blue
    &__middle div:nth-child(7)
        width: 80px
        height: 80px
        font-size: 16px
        margin-top: 115px
        margin-left: 670px
        box-shadow: 0 0 25px 2px $light-blue
    &__middle div:nth-child(8)
        width: 65px
        height: 65px
        font-size: 14px
        margin-top: 300px
        margin-left: 860px
        box-shadow: 0 0 15px 2px $light-blue
    &__down div:nth-child(1)
        width: 80px
        height: 80px
        font-size: 16px
        margin-top: 220px
        margin-right: 850px
        box-shadow: 0 0 25px 2px $light-blue
    &__down div:nth-child(2)
        width: 90px
        height: 90px
        font-size: 15px
        margin-top: 370px
        margin-right: 520px
        box-shadow: 0 0 35px 2px $light-blue
    &__down div:nth-child(3)
        margin-top: 500px
        margin-left: 250px
    &__down div:nth-child(4) 
        margin-top: 280px
        margin-left: 550px
    &__down div:nth-child(3),
    &__down div:nth-child(4)
        width: 66px
        height: 66px
        font-size: 14px
        box-shadow: 0 0 20px 2px $light-blue    
    &__down div:nth-child(5)
        width: 36px
        height: 36px
        right: 240px
        bottom: 80px
        background-color: $white
        box-shadow: 0 0 10px 2px $white
    &__mobile
        display: none
    
.certifications
    background-color: $white
    padding: 40px 70px
    h1 
        font-size: 42px
        line-height: 42px
        font-family: $inconsolata-font
        margin-bottom: 80px
    &__block 
        margin-bottom: 100px
        p 
            margin: 0 0 35px 0
            font-size: 32px
            font-family: $inconsolata-font 
        a 
            width: 26%
            height: 260px
            margin-right: 65px
            img 
                width: 26%
                height: 260px
                border-radius: 10px
                object-fit: fill
                transition: transform .3s
            img:hover
                transform: scale(1.1)
    &__idea-block
        display: flex
        align-items: center
        justify-content: space-between
        a 
            img 
                margin: 95px 0 0 0
                width: 110px
                height: 110px
                transform: rotate(180deg)
                animation: move-left 2s infinite ease-in-out    
        @keyframes move-left
            0% 
                margin-left: 0
            50% 
                margin-left: 40px
            100%
                margin-left: 0 

@media screen and (min-width: 768px) and (max-width: 1279px) 
    .skills
        width: 100%
        height: auto
        min-height: 100vh
        justify-content: flex-start
        &__top, 
        &__middle, 
        &__down
            display: none
        &__mobile
            width: 100%
            height: 90vh
            display: flex
            flex-direction: column
            justify-content: space-between
        &__section
            padding: 32px 24px 0
            ul 
                padding: 0
                margin: 0
                display: flex
                flex-direction: row
                flex-wrap: wrap
                list-style-type: none
                li
                    margin: 0 10px 15px 0
                    padding: 11px 20px
                    font-size: 20px
                    line-height: 20px
                    text-align: center
                    font-family: $inconsolata-font
                    font-weight: 400
                    background-color: $blue
                    border-radius: 10px
                    color: $white
        &__mobile-certification
            padding: 32px 24px 0
            p 
                font-size: 24px
                line-height: 24px
                text-align: left
                font-family: "Inconsolata", monospace
                font-weight: 400
            .certification-swiper
                width: 100%
                height: 131px
            .swiper-wrapper 
                width: 100%
                height: 131px
            .swiper-slide
                width: 175px
                height: 100%
                display: flex
                justify-content: center
                align-items: center
                text-align: center
                font-size: 18px
                border-radius: 10px
                img 
                    display: block
                    width: 100%
                    height: 100%
                    object-fit: cover
        &__section 
            ul 
                li
                    font-size: 24px
                    line-height: 24px

@media (max-width: 767px) 
    .skills
        width: 100%
        height: auto
        min-height: 100vh
        justify-content: flex-start
        &__top, 
        &__middle, 
        &__down
            display: none
        &__mobile
            width: 100%
            height: 90vh
            display: flex
            flex-direction: column
            justify-content: space-between
        &__section
            padding: 0 24px
            ul 
                margin: 0
                padding: 0
                display: flex
                flex-direction: row
                flex-wrap: wrap
                list-style-type: none
                li
                    margin: 0 10px 15px 0
                    padding: 11px 20px
                    font-size: 16px
                    line-height: 16px
                    font-family: $inconsolata-font
                    font-weight: 400
                    text-align: center
                    color: $white
                    background-color: $blue
                    border-radius: 10px
        &__certifications
            padding: 0 24px
            div 
                width: 175px
                height: 175px
                background-color: $blue
                border-radius: 10px
                p 
                    font-size: 14px
                    line-height: 14px
                    font-family: $inconsolata-font
                    font-weight: 500
                    text-align: left
        &__mobile-certification
            padding: 0 24px
            p 
                font-size: 16px
                line-height: 16px
                font-family: "Inconsolata", monospace
                font-weight: 400
                text-align: left
            .certification-swiper, .swiper-wrapper
                width: 100%
                height: 142px
            .swiper-slide
                width: 175px
                height: 100%
                display: flex
                justify-content: center
                align-items: center
                font-size: 18px
                line-height: 18px
                text-align: center
                img 
                    display: block
                    width: 100%
                    height: 88%
                    object-fit: cover