.about-section {
  padding: 0 70px;
  max-width: 90%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
  margin: 0 auto;
}
.about-section__image-container {
  width: 45%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 130px;
}
.about-section__circle {
  width: 480px;
  height: 480px;
  background: #4C6F8C;
  filter: blur(90px);
  border-radius: 50%;
  position: absolute;
}
.about-section__image {
  position: relative;
}
.about-section__content {
  max-width: 680px;
}
.about-section__content p {
  margin: 0 0 30px;
  font-size: 20px;
  font-family: "Roboto Mono", monospace;
  font-weight: 400;
  text-align: left;
  color: #292929;
}

@media (min-width: 1200px) and (max-width: 1400px) {
  .about-section {
    padding: 0 60px;
  }
  .about-section__image-container .circle {
    width: 420px;
    height: 420px;
  }
  .about-section__image img {
    width: 480px;
    height: 480px;
  }
  .about-section__content p {
    font-size: 20px;
  }
}
@media screen and (max-width: 1200px) {
  .about-section {
    padding: 40px 32px;
  }
  .about-section__image-container {
    display: none;
  }
  .about-section__content {
    margin: 0;
    max-width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  .about-section__content p {
    margin: 0;
  }
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .about-section {
    padding: 40px 32px;
  }
  .about-section__content p {
    font-size: 20px;
  }
}
@media (max-width: 767px) {
  .about-section {
    padding: 30px 24px;
    height: -moz-fit-content;
    height: fit-content;
    min-height: -moz-fit-content;
    min-height: fit-content;
  }
  .about-section__content p {
    margin: 0 0 15px;
    font-size: 16px;
  }
  .about-section__content p br {
    display: none;
  }
}
.skills-section {
  width: 100%;
  max-width: 1440px;
  height: 900px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  position: relative;
  margin: 0 auto;
}
.skills-section__top, .skills-section__middle, .skills-section__down {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 12px;
}
.skills-section__top div, .skills-section__middle div, .skills-section__down div {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: "Roboto Mono", monospace;
  font-weight: 400;
  color: #ffffff;
  border-radius: 50%;
  transition: transform 0.3s;
  background-color: #4C6F8C;
  position: absolute;
}
.skills-section__top div:hover, .skills-section__middle div:hover, .skills-section__down div:hover {
  transform: scale(1.1);
}
.skills-section__top div:nth-child(1) {
  top: 230px;
  left: 400px;
  width: 36px;
  height: 36px;
  background-color: #ffffff;
  box-shadow: 0 0 10px 2px #ffffff;
}
.skills-section__top div:nth-child(2) {
  width: 50px;
  height: 50px;
  top: 180px;
  left: 260px;
  background-color: #ffffff;
  box-shadow: 0 0 10px 2px #ffffff;
}
.skills-section__top div:nth-child(3) {
  width: 120px;
  height: 120px;
  margin-right: 360px;
  margin-bottom: 50px;
  box-shadow: 0 0 55px 2px #4C6F8C;
}
.skills-section__top div:nth-child(4) {
  width: 62px;
  height: 62px;
  margin-right: 90px;
  margin-bottom: 350px;
  box-shadow: 0 0 28px 2px #4C6F8C;
}
.skills-section__top div:nth-child(5) {
  width: 95px;
  height: 95px;
  margin-left: 200px;
  margin-bottom: 180px;
  box-shadow: 0 0 35px 2px #4C6F8C;
}
.skills-section__top div:nth-child(6), .skills-section__top div:nth-child(7) {
  width: 104px;
  height: 104px;
  box-shadow: 0 0 35px 2px #4C6F8C;
}
.skills-section__top div:nth-child(6) {
  margin-top: 100px;
  margin-left: 410px;
}
.skills-section__top div:nth-child(7) {
  margin-left: 600px;
  margin-bottom: 260px;
}
.skills-section__top div:nth-child(8) {
  width: 120px;
  height: 120px;
  margin-left: 970px;
  margin-bottom: 500px;
  box-shadow: 0 0 24px 2px #4C6F8C;
}
.skills-section__top div:nth-child(8) a {
  text-decoration: none;
  color: #ffffff;
}
.skills-section__middle div:nth-child(1) {
  width: 90px;
  height: 90px;
  margin-right: 700px;
  margin-bottom: 50px;
  box-shadow: 0 0 18px 2px #4C6F8C;
}
.skills-section__middle div:nth-child(2) {
  margin-top: 200px;
  margin-right: 520px;
  width: 84px;
  height: 84px;
  box-shadow: 0 0 18px 2px #4C6F8C;
}
.skills-section__middle div:nth-child(3) {
  margin-top: 200px;
  margin-right: 230px;
  width: 50px;
  height: 50px;
  box-shadow: 0 0 15px 2px #4C6F8C;
}
.skills-section__middle div:nth-child(4) {
  width: 170px;
  height: 170px;
  font-size: 16px;
  box-shadow: 0 0 80px 2px #4C6F8C;
  position: relative;
}
.skills-section__middle div:nth-child(5) {
  margin-top: 460px;
  margin-right: 14px;
  width: 116px;
  height: 116px;
  box-shadow: 0 0 50px 2px #4C6F8C;
}
.skills-section__middle div:nth-child(6) {
  margin-top: 320px;
  margin-left: 300px;
  width: 96px;
  height: 96px;
  box-shadow: 0 0 25px 2px #4C6F8C;
}
.skills-section__middle div:nth-child(7) {
  margin-top: 115px;
  margin-left: 670px;
  width: 80px;
  height: 80px;
  box-shadow: 0 0 25px 2px #4C6F8C;
}
.skills-section__middle div:nth-child(8) {
  margin-top: 380px;
  margin-left: 860px;
  width: 70px;
  height: 70px;
  box-shadow: 0 0 15px 2px #4C6F8C;
}
.skills-section__down div:nth-child(1) {
  margin-top: 220px;
  margin-right: 850px;
  width: 80px;
  height: 80px;
  box-shadow: 0 0 25px 2px #4C6F8C;
}
.skills-section__down div:nth-child(2) {
  margin-top: 370px;
  margin-right: 520px;
  width: 90px;
  height: 90px;
  box-shadow: 0 0 35px 2px #4C6F8C;
}
.skills-section__down div:nth-child(3) {
  margin-top: 500px;
  margin-left: 250px;
}
.skills-section__down div:nth-child(4) {
  margin-top: 280px;
  margin-left: 550px;
}
.skills-section__down div:nth-child(3),
.skills-section__down div:nth-child(4) {
  width: 66px;
  height: 66px;
  box-shadow: 0 0 20px 2px #4C6F8C;
}
.skills-section__down div:nth-child(5) {
  width: 36px;
  height: 36px;
  right: 240px;
  bottom: 80px;
  background-color: #ffffff;
  box-shadow: 0 0 10px 2px #ffffff;
}
.skills-section__mobile {
  display: none;
}

.certifications {
  padding: 40px 70px;
  color: #292929;
  background-color: #ffffff;
}
.certifications h1 {
  font-size: 46px;
  line-height: 46px;
  font-family: "Roboto Mono", monospace;
  font-weight: 500;
  margin-bottom: 80px;
}
.certifications__block {
  margin-bottom: 100px;
}
.certifications__block p {
  margin: 0 0 35px 0;
  font-size: 20px;
  font-family: "Roboto Mono", monospace;
  font-weight: 400;
}
.certifications__block a {
  text-decoration: none;
  margin-right: 65px;
}
.certifications__block a img {
  width: 26%;
  height: 260px;
  -o-object-fit: contain;
     object-fit: contain;
  transition: transform 0.3s;
}
.certifications__block a img:hover {
  transform: scale(1.1);
}
.certifications__idea-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.certifications__idea-block a img {
  margin: 95px 0 0 0;
  width: 110px;
  height: 110px;
  transform: rotate(180deg);
  animation: move-left 2s infinite ease-in-out;
}
@keyframes move-left {
  0% {
    margin-left: 0;
  }
  50% {
    margin-left: 40px;
  }
  100% {
    margin-left: 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .skills-section {
    padding: 40px 0;
    width: 100%;
    height: auto;
    min-height: 100vh;
    justify-content: flex-start;
  }
  .skills-section__top, .skills-section__middle, .skills-section__down {
    display: none;
  }
  .skills-section__mobile {
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .skills-section__section {
    padding: 32px 24px 0;
  }
  .skills-section__section ul {
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style-type: none;
  }
  .skills-section__section ul li {
    margin: 0 10px 15px 0;
    padding: 11px 20px;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    font-family: "Roboto Mono", monospace;
    font-weight: 300;
    background-color: #4C6F8C;
    border-radius: 10px;
    color: #ffffff;
  }
  .skills-section__section .certification-swiper {
    width: 100%;
    height: 131px;
  }
  .skills-section__section .swiper-wrapper {
    width: 100%;
    height: 131px;
  }
  .skills-section__section .swiper-slide {
    width: 175px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 10px;
  }
  .skills-section__section .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
}
@media (max-width: 767px) {
  .skills-section {
    padding: 30px 0;
    width: 100%;
    height: -moz-fit-content;
    height: fit-content;
    min-height: -moz-fit-content;
    min-height: fit-content;
    justify-content: flex-start;
  }
  .skills-section__top, .skills-section__middle, .skills-section__down {
    display: none;
  }
  .skills-section__mobile {
    width: 100%;
    height: -moz-fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  .skills-section__section {
    padding: 0 24px;
  }
  .skills-section__section ul {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style-type: none;
  }
  .skills-section__section ul li {
    margin: 0 10px 15px 0;
    padding: 11px 20px;
    font-size: 16px;
    line-height: 16px;
    font-family: "Roboto Mono", monospace;
    text-align: center;
    color: #ffffff;
    background-color: #4C6F8C;
    border-radius: 10px;
  }
  .skills-section__certifications {
    padding: 0 24px;
  }
  .skills-section__certifications div {
    width: 175px;
    height: 175px;
    background-color: #4C6F8C;
    border-radius: 10px;
  }
  .skills-section__certifications div p {
    line-height: 14px;
    font-family: "Roboto Mono", monospace;
    font-weight: 300;
    text-align: left;
  }
}
.projects-section {
  padding: 40px 70px;
  width: 90%;
  max-width: 1440px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Roboto Mono", monospace;
  margin: 0 auto;
}
.projects-section__title {
  margin: 0 0 44px;
  font-size: 46px;
  font-weight: 500;
  color: #292929;
}
.projects-section__subtitle {
  margin: 0 0 70px;
  font-size: 20px;
  text-align: center;
  font-weight: 400;
  color: #292929;
}
.projects-section__items {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.projects-section__item {
  padding: 60px 25px;
  width: 26%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
  border-radius: 25px;
  background: #ffffff;
  border: 1px solid #E6ECF8;
  transition: transform 0.3s;
}
.projects-section__item:hover {
  transform: scale(1.1);
}
.projects-section__image {
  width: 160px;
  height: 45px;
}
.projects-section__description {
  width: 85%;
  margin: 20px 0 33px;
}
.projects-section__description p {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  text-align: center;
  color: #292929;
}
.projects-section__link {
  width: 200px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: 12px;
  font-weight: 500;
  text-decoration: none;
  color: #0068D1;
  background: #EBF5FF;
  border-radius: 5px;
  cursor: pointer;
}
.projects-section__link img {
  width: 24px;
  height: 24px;
}

@media (min-width: 1200px) and (max-width: 1400px) {
  .projects-section__title {
    font-size: 38px;
  }
  .projects-section__subtitle {
    font-size: 22px;
    line-height: 22px;
  }
  .projects-section__description {
    width: 85%;
  }
  .projects-section__description p {
    font-size: 14px;
    line-height: 14px;
  }
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .projects-section {
    padding: 40px 0;
  }
  .projects-section__title {
    margin: 0 0 40px;
    font-size: 42px;
  }
  .projects-section__subtitle {
    margin: 0 0 40px;
    width: 100%;
    font-size: 20px;
    line-height: 20px;
  }
  .projects-section__subtitle br {
    display: none;
  }
  .projects-section__items {
    flex-direction: column;
  }
  .projects-section__item {
    width: 80%;
    margin-bottom: 40px;
  }
  .projects-section__item:last-child {
    margin: 0;
  }
}
@media (max-width: 767px) {
  .projects-section {
    height: auto;
    padding: 30px 0;
  }
  .projects-section__title {
    margin: 0 0 28px;
    font-size: 26px;
    line-height: 26px;
    font-weight: 500;
  }
  .projects-section__subtitle {
    margin: 0 0 28px;
    width: 100%;
    font-size: 16px;
    line-height: 20px;
  }
  .projects-section__subtitle br {
    display: none;
  }
  .projects-section__items {
    flex-direction: column;
  }
  .projects-section__item {
    width: 86%;
    padding: 20px 10px;
    margin-bottom: 40px;
  }
  .projects-section__item:last-child {
    margin-bottom: 0;
  }
  .projects-section__image {
    width: 140px;
    height: 38px;
  }
  .projects-section__description p {
    font-size: 16px;
  }
}
.contacts {
  padding: 0 70px;
  max-width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #ffffff;
  margin: 0 auto;
}
.contacts__image {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.contacts__image img {
  z-index: 1;
}
.contacts__image .circle {
  margin-right: 55px;
  width: 500px;
  height: 500px;
  background: #4C6F8C;
  filter: blur(70px);
  border-radius: 50%;
  position: absolute;
}
.contacts__form {
  width: 620px;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contacts__form .box {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contacts__form .box h2 {
  margin: 0 0 52px;
  font-size: 46px;
  font-family: "Roboto Mono", monospace;
  font-weight: 500;
  color: #292929;
}
.contacts__form .box .name {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.contacts__form .box .name input {
  width: 45%;
}
.contacts__form .box input, .contacts__form .box textarea {
  width: 97%;
  font-size: 20px;
  font-family: "Roboto Mono", monospace;
  color: #292929;
  background-color: #f2f2f2;
  border: none;
  border-radius: 25px;
  margin-bottom: 34px;
}
.contacts__form .box input {
  height: 60px;
}
.contacts__form .box input[type=text i] {
  padding: 0 0 0 20px;
}
.contacts__form .box textarea {
  height: 160px;
  padding: 20px 0 0 20px;
}
.contacts__form .box .contact-email {
  padding: 0 0 0 20px;
}
.contacts__form .box .send {
  width: 100%;
  height: 72px;
  font-size: 28px;
  font-family: "Roboto Mono", monospace;
  font-weight: 500;
  color: #ffffff;
  background-color: #292929;
  border: none;
  border-radius: 25px;
  cursor: pointer;
}
.contacts__form .box .lds-ellipsis {
  width: 100%;
  height: 72px;
  background-color: #292929;
  border: none;
  border-radius: 25px;
  position: relative;
}
.contacts__form .box .lds-ellipsis div {
  position: absolute;
  top: 30px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #ffffff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.contacts__form .box .lds-ellipsis div:nth-child(1) {
  left: 288px;
  animation: lds-ellipsis1 0.6s infinite;
}
.contacts__form .box .lds-ellipsis div:nth-child(2) {
  left: 288px;
  animation: lds-ellipsis2 0.6s infinite;
}
.contacts__form .box .lds-ellipsis div:nth-child(3) {
  left: 312px;
  animation: lds-ellipsis2 0.6s infinite;
}
.contacts__form .box .lds-ellipsis div:nth-child(4) {
  left: 336px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}

@media screen and (max-width: 1200px) {
  .contacts {
    padding: 40px 24px;
    min-height: -moz-fit-content;
    min-height: fit-content;
    flex-direction: column-reverse;
  }
  .contacts__image img {
    display: none;
    width: 280px;
    height: 280px;
  }
  .contacts__image .circle {
    display: none;
  }
  .contacts__form {
    width: 100%;
  }
  .contacts__form .box h2 {
    font-weight: 600;
  }
  .contacts__form .box input {
    height: 38px;
  }
  .contacts__form .box input, .contacts__form .box textarea, .contacts__form .box .send, .contacts__form .box .lds-ellipsis {
    font-size: 16px;
    border-radius: 16px;
  }
  .contacts__form .box input, .contacts__form .box textarea {
    width: 98.5%;
  }
  .contacts__form .box input[type=text i], .contacts__form .box textarea, .contacts__form .box .contact-email {
    margin-bottom: 30px;
  }
  .contacts__form .box textarea {
    height: 104px;
  }
  .contacts__form .box .lds-ellipsis div {
    top: 20px;
    width: 10px;
    height: 10px;
  }
  .contacts__form .box .lds-ellipsis div:nth-child(1) {
    left: 44%;
  }
  .contacts__form .box .lds-ellipsis div:nth-child(2) {
    left: 42%;
  }
  .contacts__form .box .lds-ellipsis div:nth-child(3) {
    left: 47%;
  }
  .contacts__form .box .lds-ellipsis div:nth-child(4) {
    left: 53%;
  }
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .contacts {
    padding: 40px 32px;
  }
  .contacts__form {
    width: 100%;
  }
  .contacts__form .box h2 {
    margin: 0 0 40px;
    font-size: 42px;
  }
  .contacts__form .box input {
    height: 48px;
  }
  .contacts__form .box textarea {
    height: 144px;
  }
  .contacts__form .box input[type=text i] {
    width: 46%;
  }
}
@media (max-width: 767px) {
  .contacts {
    padding: 30px 24px;
  }
  .contacts__form {
    width: 100%;
  }
  .contacts__form .box h2 {
    font-size: 26px;
    line-height: 26px;
    margin-bottom: 28px;
  }
  .contacts__form .box .send, .contacts__form .box .lds-ellipsis {
    height: 48px;
    font-size: 16px;
  }
  .contacts__form .box input, .contacts__form .box textarea {
    width: 94%;
  }
  .contacts__form .box input[type=text i] {
    width: 42%;
  }
  .contacts__form .box input[type=text i], .contacts__form .box textarea, .contacts__form .box .contact-email {
    margin-bottom: 28px;
  }
}
.footer {
  padding: 70px;
  background-color: #4C6F8C;
  margin: 0 auto;
}
.footer__wrapper {
  max-width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 0 auto;
}
.footer__social-media, .footer__resume, .footer__menu {
  display: flex;
  align-items: center;
}
.footer__social-media a, .footer__resume a, .footer__menu a {
  font-size: 16px;
  font-family: "Roboto Mono", monospace;
  font-weight: 400;
  text-decoration: none;
  color: #ffffff;
}
.footer__social-media {
  left: 0;
  position: absolute;
}
.footer__social-media a {
  margin: 0 34px 0 0;
}
.footer__resume img {
  width: 20px;
  height: 20px;
  margin-left: 10px;
}
.footer__menu {
  right: 0;
  position: absolute;
}
.footer__menu ul {
  display: flex;
  align-items: center;
  list-style-type: none;
}
.footer__menu ul li {
  margin: 0 0 0 34px;
}
.footer__menu ul li a {
  font-size: 16px;
  font-family: "Roboto Mono", monospace;
  font-weight: 400;
  text-decoration: none;
  color: #ffffff;
}
.footer__menu ul li a:last-child {
  margin-right: 0;
}

@media screen and (max-width: 1200px) {
  .footer {
    padding: 40px 24px;
    height: auto;
    flex-direction: column;
  }
  .footer__wrapper {
    flex-direction: column;
  }
  .footer__social-media {
    flex-direction: column;
    position: inherit;
  }
  .footer__social-media a {
    margin: 0 0 18px;
    font-size: 18px;
    line-height: 18px;
  }
  .footer__resume a {
    font-size: 18px;
    line-height: 18px;
  }
  .footer__resume img {
    width: 20px;
    height: 20px;
    margin-left: 5px;
  }
  .footer__menu {
    display: none;
  }
}
@media (max-width: 767px) {
  .footer {
    padding: 30px 24px;
  }
  .footer__social-media a {
    margin: 0 0 14px;
    font-size: 14px;
    line-height: 14px;
  }
  .footer__resume a {
    font-size: 14px;
    line-height: 14px;
  }
}
html,
body {
  width: 100vw;
  max-width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
}

body {
  cursor: url("../images/cursor.svg"), auto;
}

.home-section {
  padding: 0 70px;
  max-width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: "Roboto Mono", monospace;
  background-color: #ffffff;
  margin: 0 auto;
}
.home-section__menu {
  padding-top: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.home-section__navigation {
  height: 28px;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
  font-size: 20px;
  line-height: 26px;
  font-weight: 400;
}
.home-section__link {
  margin: 0 0 0 64px;
  text-decoration: none;
  color: #292929;
}
.home-section__link:hover {
  color: #4C6F8C;
  transform: scale(1.1);
  transition: transform 0.2s;
}
.home-section__hamburger, .home-section__mobile-menu {
  display: none;
}
.home-section__content {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  color: #292929;
}
.home-section__text {
  width: 620px;
  font-size: 46px;
  line-height: 46px;
  font-weight: 500;
}
.home-section__text span {
  color: #4C6F8C;
}
.home-section__images {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.home-section__images img {
  z-index: 9;
}
.home-section__blue-blur {
  width: 540px;
  height: 540px;
  background: #4C6F8C;
  filter: blur(70px);
  border-radius: 50%;
  position: absolute;
}
.home-section__blue-blur-midle {
  width: 160px;
  height: 160px;
  background: #4C6F8C;
  filter: blur(25px);
  border-radius: 50%;
  right: 740px;
  bottom: 400px;
  position: absolute;
}
.home-section__blue-blur-small {
  width: 90px;
  height: 90px;
  right: 600px;
  bottom: -60px;
  background: #4C6F8C;
  filter: blur(25px);
  border-radius: 50%;
  position: absolute;
}
.home-section__down-content {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 50px;
  position: relative;
}
.home-section__left {
  display: flex;
  align-items: center;
  left: 0;
  position: absolute;
}
.home-section__left a {
  margin: 0 36px 0 0;
  font-size: 20px;
  font-family: "Roboto Mono", monospace;
  font-weight: 400;
  text-decoration: none;
  color: #292929;
  transition: transform 0.2s;
}
.home-section__left a:hover {
  color: #4C6F8C;
  transform: scale(1.1);
}
.home-section__center {
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
}
.home-section__center .scroll-down {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
}
.home-section__center .first-line, .home-section__center .second-line {
  margin: 8px;
  width: 4px;
  height: 32px;
  background: #292929;
  border-radius: 5px;
  animation: move 1.6s infinite ease-in-out;
}
.home-section__center .first-line {
  transform: rotate(-45deg);
}
.home-section__center .second-line {
  transform: rotate(45deg);
}
@keyframes move {
  0% {
    margin-top: 0;
  }
  50% {
    margin-top: 60px;
  }
  100% {
    margin-top: 0;
  }
}
.home-section__center .scroll-down.clicked .first-line, .home-section__center .scroll-down.clicked .second-line {
  animation: none;
}

.hidden {
  opacity: 0;
}

.show {
  opacity: 1;
}

@media (prefers-reduced-motion: no-preference) {
  .hidden {
    transition: all 1.5s;
  }
}
@media (min-width: 1201px) and (max-width: 1400px) {
  .home {
    padding: 40px 60px 0;
  }
  .home__menu {
    padding-top: 0;
  }
  .home__navigation {
    font-size: 20px;
  }
  .home__text {
    width: 492px;
    font-size: 40px;
    line-height: 40px;
  }
  .home__images img, .home__images__blue-blur {
    width: 460px;
    height: 460px;
  }
  .home__blue-blur-midle {
    margin-right: 936px;
    margin-bottom: 408px;
  }
  .home__down-content {
    padding-bottom: 40px;
  }
  .home__left a {
    font-size: 20px;
  }
  .home__center .scroll-down {
    width: 48px;
    height: 48px;
  }
  .home__center .first-line, .home__center .second-line {
    width: 4px;
    height: 26px;
    margin: 6px;
  }
}
@media screen and (max-width: 1200px) {
  .home-section {
    padding: 40px 32px;
    justify-content: space-between;
  }
  .home-section__logo {
    width: 140px;
    height: 60px;
  }
  .home-section__navigation {
    display: none;
  }
  .home-section__menu {
    padding-top: 0;
  }
  .home-section__hamburger {
    padding: 0;
    width: 36px;
    height: 36px;
    display: block;
    cursor: pointer;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    background: none;
    outline: none;
    border: none;
    z-index: 999;
    position: relative;
  }
  .home-section .bar {
    content: "";
    margin: 5px 0 5px 40%;
    width: 60%;
    height: 3px;
    display: block;
    background-color: #4C6F8C;
    transition: 0.4s;
    border-radius: 5px;
  }
  .home-section__hamburger::before, .home-section__hamburger::after {
    content: "";
    margin: 5px 0;
    width: 100%;
    height: 3px;
    display: block;
    transition: 0.4s;
    border-radius: 5px;
    background-color: #292929;
  }
  .home-section__hamburger.is-active .bar {
    opacity: 0;
  }
  .home-section__hamburger.is-active::before {
    transform: rotate(-45deg) translate(-5px, 0);
    background-color: #ffffff;
  }
  .home-section__hamburger.is-active::after {
    transform: rotate(45deg) translate(-5px, 0px);
    background-color: #ffffff;
  }
  .home-section__mobile-menu {
    width: 100%;
    min-height: 100vh;
    top: 0;
    left: 100%;
    display: block;
    z-index: 99;
    background-color: #4C6F8C;
    position: fixed;
  }
  .home-section__mobile-menu.is-active {
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .home-section__mobile-menu.is-active a {
    font-size: 20px;
    font-family: "Roboto Mono", monospace;
    color: #ffffff;
    text-decoration: none;
    margin-bottom: 5%;
  }
  .home-section__mobile-menu.is-active a:last-child {
    margin-bottom: 0;
  }
  .home-section__content {
    flex-direction: column;
  }
  .home-section__text {
    width: auto;
    font-size: 42px;
    line-height: 42px;
  }
  .home-section__images {
    margin-top: 15%;
  }
  .home-section__images img {
    width: 388px;
    height: 388px;
  }
  .home-section__blue-blur {
    width: 440px;
    height: 440px;
  }
  .home-section__blue-blur-midle, .home-section__blue-blur-small, .home-section__left, .home-section__right {
    display: none;
  }
}
@media (max-width: 767px) {
  .home-section {
    padding: 30px 24px;
  }
  .home-section__mobile-menu.is-active a {
    margin-bottom: 25px;
  }
  .home-section__content {
    margin-top: 18%;
  }
  .home-section__text {
    font-size: 26px;
    line-height: 26px;
  }
  .home-section__images {
    margin-top: 60px;
  }
  .home-section__images img {
    width: 288px;
    height: 288px;
  }
  .home-section__blue-blur {
    width: 280px;
    height: 280px;
    filter: blur(38px);
  }
  .home-section__center .scroll-down {
    width: 40px;
    height: 40px;
  }
  .home-section__center .first-line, .home-section__center .second-line {
    margin: 6px;
    width: 4px;
    height: 26px;
  }
  .home-section__down-content {
    padding-bottom: 30px;
  }
}/*# sourceMappingURL=styles.css.map */